:root {
    --purple: white; /*SWAP BACK TO REBECCA PURPLE BFORE SUBMITTING*/
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /*REMOVE FOLLOWING TWO LINES BEFORE SUBMITTING*/
    background-color: #404040;
    color: white;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
}

p {
    font-size: 20px;
}


#hiscore-link {
    color: var(--purple);
    display: inline-block;
}

#timer {
    float: right;
}

#startpg {
    text-align: center;
}

button  {
    font-size: 17px;
    background-color: var(--purple);
    color: #404040; /*SWAP BACK TO WHITE BEFORE SUBMITTING*/
    border: none;
    border-radius: 5px;
    padding: 3px 7px;

}

button:hover {
    background-color: mediumpurple;
}

#contentpg {
    margin-left: 30%;
}

#contentpg button {
    display: block;
    margin: 5px;
}

.hide {
    display: none;
}